:root {
  --Inter: "Inter-Variable";
  --PressStart2P: "PressStart2P";
  --regular: 410;
  --black: 715;
  --gradient-background:
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --container-width: clamp(375px, 100vw, 700px);
  --container-image-width: clamp(371px, calc(100vw - 4px), 696px);
  --black-text: #000000;
  --white-outline: #fff;
  --container-width-mob: clamp(min-content, 100vw, 375px);
  --container-image-width-mob: clamp(min-content, calc(100vw - 4px), 371px);
  --contour: #000000;
  --animation-fill-color: #ff0000;
  --core-color: #ffffff;
  --main-body: #ff0000;
  --font-size-header-tittle: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-size-header-subtittle: clamp(
    0.875rem,
    0.6769rem + 0.8451vw,
    1.4375rem
  );
}

/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
